.app{
  background: linear-gradient(365deg, rgba(23,109,126,1) 0%, rgba(0,212,255,1) 100%);
  min-height: 100vh;
  display: flex;
  text-align: center;
}

.app__center{
   padding: 20px;
  margin: auto;
  max-width: 800px;
}

.app__img{

  height: 100px;
}

.app__title{
  color: white;
  font-size: 42px;
}

.app__text{
  color: white;
  font-size: 28px;
  padding-top: 30px;
}